resources/homo-sapiens-gtf/Homo_sapiens.**
resources/homo-sapiens-fasta/Homo_sapiens.**
resources/homo-sapiens-fasta/genome.**
resources/homo-sapiens-gtf/CHECKSUMS
resources/homo-sapiens-gtf/README
samtools/**
gffread/**
sources/__pycache__/**
